@page
@model SE1728_Razor.Pages.Staffs.ProfileModel

@{
    ViewData["Title"] = "User profile";
}
@inject IHttpContextAccessor HttpContextAccessor

@{
    String id;
    string name;
    int role;
    id = HttpContextAccessor.HttpContext.Session.GetString("Id") ?? "";
    name = HttpContextAccessor.HttpContext.Session.GetString("Name") ?? "";
    role = HttpContextAccessor.HttpContext.Session.GetInt32("Role") ?? 0;

   

}
<h1>User profile</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Staff.StaffId" class="control-label">StaffId</label>
                <input disabled asp-for="Staff.StaffId" class="form-control" value="@id" />
             </div>
            <div class="form-group">
                <label asp-for="Staff.Name" class="control-label">Name</label>
                <input asp-for="Staff.Name" class="form-control" value="@name"/>
                <span asp-validation-for="Staff.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.Role" class="control-label">Role </label>
                <input asp-for="Staff.Role" class="form-control" value="@role" />
                <span asp-validation-for="Staff.Role" class="text-danger"></span>
            </div>
            <div class="form-group submit-btn">
                <input type="submit" value="Save changes" class="btn btn-primary" />
            </div>
        </form>
        
        <div class="text-warning">
            @if (ViewData.ModelState["message"] !=null && ViewData.ModelState["message"].Errors.Count > 0)
                @ViewData.ModelState["message"].Errors.FirstOrDefault().ErrorMessage
        </div>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

